<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerJX-forgotPassword</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost/public/Assets/userForgotPasswordStyle.css" type="text/css">
</head>

<body>
    <section>
        <div class="card">
            <div class="left">
                <h1>Forgot Password</h1>
                <form action="#">
                    <div class="form-group">
                        <label for="email">Registered Email :</label>
                        <input type="email" id="email" required>
                    </div>
                    <a href="http://localhost/userAuth/login" id="rememberedPassword">remember Password?</a>
                    <button id="submit" type="button">Submit</button>
                </form>
            </div>
            <div class="right">
                <img src="http://localhost/public/Images/power-plant-1.jpg">
                <div class="overlay">
                    <p>Input your registered email with this account</p>
                    <p>You will recieve an OTP and resetPassword link on your email</p>
                </div>
            </div>
        </div>
    </section>

    <script>
        const input_email = document.getElementById("email");
        const display = document.querySelector("body");


        const submit = document.getElementById("submit");
        submit.addEventListener("click", function (event) {
            display.style.opacity = 0.75;
            const email = input_email.value.trim();
            if (email == "") {
                display.style.opacity = 1;
                return;
            }

            const requestLink = "http://localhost/userAuth/forgotPassword";
            fetch(requestLink, {
                method: "POST",
                headers: { "Content-type": "application/json" },
                body: JSON.stringify({
                    email: email
                })
            }).then(function (res) {
                display.style.opacity = 1;
                clearAllInputs();
                if (!res.ok) {
                    return res.json().then(function (json) {
                        return Promise.reject(json);
                    });
                }
                else {
                    return res.json();
                }
            }).then(function (data) {
                console.log(data);
                window.location = data.redirectLink;
            }).catch(function (err) {
                console.log(err);
            });
        });

        function clearAllInputs() {
            input_email.value = "";
        }

    </script>
</body>

</html>